@use "../../style/util";

.ContactButtonBackground {
  background-image: url(../../assets/contactButtonBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  height: 490px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: util.rem(992px)) {
    height: util.rem(350px);
  }
}

.ContactButtonTitle {
  @media (max-width: util.rem(992px)) {
    font-size: util.rem(33px);
  }
}

.minContactButtonTitle>span {
  display: none;

  // @media (max-width: 992px) {
  //   display: block;
  // }
}

.ContactButton {
  background-color: #41497a;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 50px;
  padding: 17px 40px;
}