@use "../../../../style/colors";
@use "../../../../style/util";

.iframe_container {
  width: 100%;
  height: 100vh;
}
.iframe_wrapper {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
.iframe {
  position: absolute;
  width: 100%;
  height: util.rem(900px);
  top: 0;
  left: 0;
}

@media screen and (max-width: util.rem(991px)) {
  .iframe_wrapper {
    padding-top: 100vh;
  }
}

// ------------------------------
// @media screen and (max-width: util.rem(991px)) {
//   .iframe_container {
//     width: 100vw;
//     height: 100vh;
//   }

//   .iframe_wrapper {
//     position: relative;
//     width: 100%;
//     height: 100%;
//   }

//   .iframe {
//     display: block;
//     width: 100%;
//     height: 100%;
//   }
// }

// .iframe_section {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   pointer-events: none;
// }

// .iframe_wrapper {
//   left: -10px;
//   top: -10px;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   width: 100%;
//   height: 100%;
// }

// .iframe {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
// }
