@use "../.././style/colors";
@use "../.././style/util";

.textarea {
  width: 100%;
  height: util.rem(200px) !important;
  font-size: util.rem(15px);
  border: 1px solid #e6e6e6;
  padding: util.rem(6px) util.rem(12px);
  font: inherit;
  line-height: 1.5;

  &:focus {
    outline: none;
    border: 2px solid #16357b !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
  }
}

.group {
  width: 50% !important;
  padding: util.rem(40px) util.rem(50px) !important;
  margin-bottom: util.rem(15px);

  @media (max-width: 800px) {
    padding: util.rem(40px) util.rem(50px) !important;
    margin-bottom: util.rem(15px);
    width: 100% !important;
  }
}
