@use 'util';

.container {

  width: 100%;
  height: util.rem(369.58px);
  background-color: #000000;

  .item{
    width: util.rem(1280px);
    height: util.rem(369.58px);
    padding: util.rem(15px) util.rem(15px);
    margin: 0 auto;

    .table{

      display: table-cell;
      width: util.rem(1260px);
      height: util.rem(339.58px);
      margin: 0 auto;
  

    .box {

      display: table;
      width: util.rem(420px);
      height: util.rem(339.58px);
      padding: util.rem(5px);

      img {

        width: util.rem(410px);
        min-height: util.rem(252px);

      }

      .text {
        width: util.rem(410px);
        min-height: util.rem(77.58px);
        padding: util.rem(15px) util.rem(0px);

        .title {
          
          font-family: 'Spoqa Han Sans Neo', 'sans-serif';
          font-size: util.rem(22px);
          color: #ffffff;
          text-align: center;
          line-height: 1.6;

          .body{

            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
            font-size: util.rem(14px);
            color: #999;
            text-align: center;
            display: block;

           }

          }
        }

      }
    }
  }
}