@use "../../../style/util";

.DataProcessWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: util.rem(110px);
  padding-bottom: util.rem(110px);
  max-width: util.rem(1280px);
  margin: 0 auto;
}
.DataProcessTitle {
  font-size: util.rem(60px);
  font-weight: 700;
}
.DataProcessDesc {
  margin-top: util.rem(50px);
  line-height: 2;
}
.DataProcessImgWrap {
  width: util.rem(500px);
}
.DataProcessImgWrap img {
  max-width: 100%;
}

@media screen and (max-width:util.rem(991px)) {
  .DataProcessWrap {
    justify-content: center;
  }
  .DataProcessTitle {
    font-size: util.rem(36px);
    font-weight: 700;
    text-align: center;
  }
  .DataProcessDesc {
    text-align: center;
  }
  .DataProcessImgWrap {
    display: none;
  }
}