@use "../../../../../style/util";

.newsBoard {
  max-width: util.rem(1100px);
  width: 100%;
  height: fit-content;
}

.NewsBoardTableContents {
  display: grid;
  grid-template-columns: util.rem(170px) auto 12%;
  max-width: util.rem(1100px);
  width: 100%;
  padding: util.rem(5.1px) 0;

  border-bottom: util.rem(1px) solid #dfdfdf;
  font-size: util.rem(15px);
  font-weight: 400;

  @media (max-width: util.rem(992px)) {
    display: block;
  }
}

.newsNumber,
.newsTitle,
.newsDate {
  width: 100%;
  padding: util.rem(20px) util.rem(7px);
  font-weight: 400;

  @media (max-width: util.rem(992px)) {
    padding: util.rem(12.15px) util.rem(7px);
  }
}

.newsNumber,
.newsDate {
  white-space: nowrap;
}

.newsNumber {
  font-size: util.rem(17px);
}

.newsTitle {
  width: 100%;
  font-size: util.rem(17px);
  text-align: left;

  @media (max-width: util.rem(992px)) {
    margin: 0 util.rem(7px);
  }
}

.newsDate {
  width: 12%;
  text-align: center;
}

.pagination {
  width: 100%;
  padding: util.rem(47px) 0 util.rem(180px) 0;
  margin: util.rem(20px) 0;

  @media (max-width: util.rem(992px)) {
    margin: 0 util.rem(7px);
    padding: util.rem(30px) 0 util.rem(110px) 0;

  }
}

.mouseEvent {
  margin: util.rem(3px);
  line-height: util.rem(24px);
  background: white;
  border: none;
  color: #363636;
  font-size: util.rem(14px);
  font-weight: 400;
  cursor: pointer;
}

.hide {
  @media (max-width: util.rem(992px)) {
    display: none;
  }
}