
.AiDevelopmentContents{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.inside {
  margin: 0 20% 0 20%;
  padding: 0 15px 0 15px;
  justify-content: center;
}

.AiDevelopmentTitle {
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: black;
  font-size: 70px; /*45px*/
}
.h1P{
  font-size: 20px;
}
.bgGray1, .bgGray2 {
  background-image: linear-gradient(to bottom, #f5f5f6, white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgGray1{
  height: 1141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.h3{
  font-size: 45px;
}
.bgGray1Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bgGray1Items {
  display: inline-block;
  width: auto;
  height: 167px;
  margin: 17px 0 17px 0;
}
.character{
  width: auto;
height: 307px;
position: relative;
bottom: 110px;
left: 22px;
}
.bgBlack{
  height: 800px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bgBlackContent {
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.bgBlackGridImg {
  height: 320px;
  margin-top: -50px;
}
.bgBlackGridTitle {
  text-align: left;
  font-size: 50px;
}
.bgBlackGirdText{
  text-align: left;
font-size: 18px;
}

.bgBlackContentImges{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bgBlackContentImgesCards {
  height: 229px;
}