@use "../../../../style/util";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: util.rem(1477px);

  @media (max-width: util.rem(1400px)) {
    width: 95vw;
    height: auto;
  }
}

.titles {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  padding-bottom: util.rem(60px);
}

.titleBlue {
  color: #021e8c;
}

.educationReviewImg {
  width: auto;
  height: auto;
  margin: util.rem(15px) util.rem(25px);
  margin-bottom: util.rem(180px);

  @media (max-width: util.rem(992px)) {
    width: 90vw;
    height: auto;
  }
}