@use "../../style/util";

.title {
  height: fit-content;
  //max-height: util.rem(510px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: util.rem(140.9px) 0;


  @media (max-width: 992px) {
    //height: util.rem(285px);
    margin: util.rem(45.5px) 0;
    padding: 0 util.rem(15px);
  }
}

.maxContents {
  display: block;
  line-height: 1.2;

  @media (max-width: 992px) {
    display: none;
  }
}

.minContents {
  display: none;

  @media (max-width: 992px) {
    display: block;
  }
}