@use "../../style/colors";
@use "../../style/util";

.main {
  width: 100%;
}

.section1 {
  margin-bottom: util.rem(180px);
}

.section2 {
  padding: util.rem(180px) 0;
  background-color: #fafafd;
}
