@use "../../../../style/util";
@use "../../../../style/colors";

.mobile_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_title {
  font-size: util.rem(33px);
  text-align: center;
  font-weight: 700;
}
.mobile_Man {
  width: util.rem(205px);
  
  img {
    max-width: 100%;
  }
}
.banner_img_wrap {
  width: util.rem(330px);
  img {
    max-width: 100%;
  }
}