@use "../../../../style/colors";
@use "../../../../style/util";

.text_wrap {
  margin: util.rem(10px) 0;
  color: #000000d9;
}

.text {
  font-size: util.rem(36px);
  text-align: center;
  line-height: 1.2;
}

.title {
  font-size: util.rem(24px);
}

@media screen and (max-width: util.rem(991px)) {
  .text {
    font-size: util.rem(24px);
  }

  .title {
    font-size: util.rem(16px);
  }
}
