@use 'util';


.container {

  display: flex;
  width: util.rem(1519.2px);
  height: util.rem(422px);
  justify-content: center;
  align-items: center;

  .item {

    display: flex;
    width: util.rem(1280px);
    height: util.rem(422px);
    padding: util.rem(0px) util.rem(15px);
    justify-content: center;
    align-items: center;

    .textheader{

      display: flex;
      width: util.rem(1250px);
      height: util.rem(112px);
      justify-content: center;
      align-items: center;


      .text {

        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
        font-size: util.rem(70px);
        font-weight: bold;
        width: util.rem(242.55px);
        height: util.rem(98.4px);
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    
      }

    }

    

  }
  

}