@use 'util';

.container {
  width: 100%;
  height: util.rem(1671px);
  background-color: #f2f2f2;

  .header {
    width: util.rem(1280px);
    height: util.rem(180px);
    padding: util.rem(0px) util.rem(15px);
    margin: 0 auto;
  }

  .table {

    width: util.rem(1280px);
    height: util.rem(447px);
    padding: util.rem(22.5px) util.rem(15px);
    margin: 0 auto;

    img{

      width: util.rem(301.25px);
      height: util.rem(402px);
      margin-right: util.rem(15px);

    }

    .last{ // 행의 마지막 이미지 
      width: util.rem(301.25px);
      height: util.rem(402px);
      margin-right: util.rem(0px);
      
    }

  }

  .table_two{

    width: util.rem(1280px);
    height: util.rem(864px);
    padding: util.rem(15px) util.rem(15px);
    margin: 0 auto;

    img{

      width: util.rem(308.75px);
      height: util.rem(412px);
      margin-right: util.rem(5px);

    }

    .last{ // 행의 마지막 이미지
      width: util.rem(308.75px);
      height: util.rem(412px);
      margin-right: util.rem(0px);
    }

    .img{ // 마지막 줄 이미지 세개 

      width: util.rem(308.75px);
      height: util.rem(412px);
      margin-top: util.rem(5px);
      margin-right: util.rem(5px);

    }

  



  }
}