.aiDevlopmentCase {
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .aiDevlopmentCaseTitle{
    font-size: 45px;
    padding-bottom: 60px;
  }
  .aiDevlopmentCaseContainer {
    width: 75%;
    display: flex;
    justify-content: space-around;
    
    .aiDevlopmentCaseImages {
      width: auto;
        height: 278px;
        padding: 15px;
    }
  }
}
