.aiDevelopmentTitle {
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: black;
  font-size: 70px; /*45px*/
}
.text{
  font-size: 20px;
}