@use "../../../style/util";

.recommendBackground {
  width: 100%;
  height: util.rem(800px);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: util.rem(992px)) {
    height: util.rem(657px)
  }

}

.recommendContent {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;

  @media (max-width: util.rem(992px)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.recommendContentImges {
  max-height: util.rem(300px);
  height: 100%;
  // margin-left: util.rem(-100px); // ν™•μΈν•„μ”
  padding: 0;


  @media (max-width: util.rem(992px)) {
    max-height: util.rem(300px);
    height: 40%;
    text-align: center;
  }
}

.recommendContentText {
  margin-bottom: util.rem(60px);
  display: flex;
  flex-direction: column;

}

.recommendContentText>.recommendContentTitle {
  text-align: left;
  white-space: nowrap;
  line-height: 1.5;
  font-size: util.rem(50px);
  padding-bottom: util.rem(48px);

  @media (max-width: util.rem(992px)) {
    font-size: util.rem(24px);
    text-align: center;
  }
}

.recommendContentDescription {
  text-align: left;
  white-space: nowrap;
  font-size: util.rem(18px);
  margin: 0;
  padding: util.rem(4px) 0;

  @media (max-width: util.rem(992px)) {
    font-size: util.rem(15px);
    text-align: center;
  }
}

.recommendContentCardsTable {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: util.rem(992px)) {
    display: none;
  }
}

.recommendContentImgesCards {
  width: auto;
  max-height: util.rem(229px);
  height: 100%;
}