@use "util";



.AiDevlopmentTitle {
  height: util.rem(510px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  color: black;
  font-size:  util.rem(70px); /*45px*/
}
.Text{
  text-align: center;
  font-size:  util.rem(20px);
  margin: 0;
  padding: 0 0  util.rem(10px) 0;
}