@use "util";
@use "colors";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

#root {
  width: 100vw;
}
