@use "../../../../style/util";

.issueAndSecurity {
  width: 100%;
  ;
  height: fit-content;
  margin: 0 auto;
  padding: 180px util.rem(15px) 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.title {
  width: 100%;
  max-width: util.rem(1250px);
}

.maxTitle {
  display: block;
  font-size: 45px;

  @media (max-width: util.rem(991px)) {
    display: none;
    line-height: 1.6;
  }
}

.minTitle {
  display: none;

  @media (max-width: util.rem(991px)) {
    display: block;
  }
}

.contentsText {
  font-size: util.rem(20px);
  line-height: 1.4;
}

.blank {
  height: 45px;
  margin: util.rem(15px) 0;
}

.minImg {
  display: none;
  width: 100%;

  @media (max-width: util.rem(991px)) {
    display: block;
  }
}

.maxImg {
  width: 100%;
  max-width: util.rem(1250px);

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: util.rem(991px)) {
    display: none;
  }
}

.maxImgContainer {
  width: 100%;
}

.maxImgItem {
  max-width: util.rem(216.854px);
  width: 100%;
  height: auto;
  margin: util.rem(15px) 0;
}