@use "../../style/colors";
@use "../../style/util";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  background-color: colors.$white_c01;
  z-index: 999;
}

.header_top {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 999;

  .gnb_item_a {
    color: white !important;
  }
}

.background_dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$black_c01;
  opacity: 0.5;
}

.nav {
  .nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-height: util.rem(30px);
    max-width: util.rem(1280px);
    padding: util.rem(13px) util.rem(15px);
  }
}

.logo_wrap {
  width: util.rem(446px);

  .logo_dark {
    width: util.rem(237px);
    max-width: 100%;
  }
}

.gnb_menu {
  display: flex;
  flex-direction: row;

  .gnb_item {
    position: relative;

    .gnb_item_a {
      text-decoration: none;
      color: colors.$black_c01;
      font-size: util.rem(20px);
      letter-spacing: 0px;
      padding: 0 util.rem(20px);
      font-weight: bold;
      font-style: normal;
      height: util.rem(90px);
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
    }

    .gnb_item_a:hover {
      color: #21212180;
      transition: all 0.2s ease-in-out;
    }

    &.service:hover > .dropdown_menu {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }

    &.education:hover > .dropdown_menu {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }
  }
}

.dropdown_menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: util.rem(20px);
  background-color: colors.$white_c01;
  min-width: util.rem(160px);

  .dropdown_menu_li {
    display: block;
    left: util.rem(20px);

    &.dataBuilding:hover > .dropdown_menu {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }

    &_a {
      display: block;
      padding: util.rem(18px) util.rem(20px);
      text-decoration: none;
      font-size: util.rem(16px);
      color: colors.$black_c01;
      font-weight: normal;
      letter-spacing: 0px;
      white-space: nowrap;
    }
    .icon_angleRight {
      padding-left: util.rem(36px);
      font-size: util.rem(12px);
    }
    .dropdown_menu {
      top: 0;
      left: 100%;
    }
  }

  .dataBuilding_depth:hover .dataBuilding {
    background-color: white;
  }
}
.dropdown_menu_li_a:hover {
  background-color: colors.$black_c01;
  color: colors.$white_c01;
  transition: all 0.3s ease-in-out;
}

.dropdown_menu_li_a:hover {
  background-color: colors.$black_c01;
  color: colors.$white_c01;
  transition: all 0.3s ease-in-out;
}

.bars_btn {
  border: 0;
  display: none;
  background-color: transparent;
}

.icon_bars {
  font-size: util.rem(28px);
}

.nav_mobile {
  display: none;
  height: 100vh;

  &_active {
    display: none;
    height: 100vh;
  }
}

.nav_mobile_ul {
  background-color: colors.$white_c01;
  height: 100%;
  & ul {
    margin-bottom: util.rem(14px);
  }

  a:active {
    color: #337ab7;
    background-color: #e8f0ff;
  }

  .folded {
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
    transform: translateY(-100%);
  }

  .spread {
    overflow: hidden;
    height: 100%;
    transform: translateY(0);
  }
}

.x_btn {
  position: absolute;
  right: util.rem(300px);
  top: util.rem(9px);
  border: 0;
  background-color: transparent;
  padding: util.rem(8px);
  margin-right: util.rem(8px);
}

.x_icon {
  color: #e5e7eb;
  font-size: util.rem(28px);
}

.depth_01 {
  border-top: 1px solid #f3f3f3;
  &:nth-child(6) {
    border-bottom: 1px solid #f3f3f3;
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #212121e3;
  }
  & > a {
    font-size: util.rem(17px);
    padding: util.rem(25px);
  }
}

.icon_chervron {
  font-size: util.rem(14px);
  color: #8b8b8b;
}

.depth_02 {
  a {
    font-size: util.rem(13px);
    padding: util.rem(8px) util.rem(25px) util.rem(8px) util.rem(25px);
  }
}

.path {
  a {
    background: #f5f5f5;
    color: #111;
  }
}

.depth_03 {
  & > a {
    padding-left: util.rem(40px);
  }
}

@media screen and (max-width: 991px) {
  .gnb_menu {
    display: none;
  }

  .nav_mobile {
    display: block;
    position: absolute;
    right: util.rem(-300px);
    top: 0;
    width: util.rem(300px);
    transition: all 0.3s ease;

    &_active {
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      right: 0;
      width: util.rem(300px);
      transition: all 0.3s ease;
    }
  }

  .nav_bar {
    padding: 0 util.rem(20px);
    border-bottom: 0.5px solid #e5e7eb;
  }

  .logo_dark {
    width: util.rem(167px) !important;
  }

  .bars_btn {
    border: 0;
    display: block;
    background-color: transparent;
    padding: util.rem(15px) util.rem(5px);
  }

  .icon_bars {
    z-index: 1500;
  }
}
