@use "../../../../style/colors";
@use "../../../../style/util";

.main {
  padding: util.rem(180px) 0;
}
.contents_wrap {
  display: flex;
}

.clients_title {
  width: 25%;
  padding: 0 util.rem(15px);
}

.img_wrap {
  width: util.rem(960px);
  padding: util.rem(15px);

  & > img {
    max-width: 100%;
  }
}

@media screen and (max-width:util.rem(991px)){
  .contents_wrap {
    display: none;
  }
  .main {
    padding: 0;
  }
} 
