@use "../../../../style/util";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: util.rem(470px);

  @media (max-width: 992px) {
    height: util.rem(460px);
  }
}

.contents {
  font-size: util.rem(16px);
  padding: 0 util.rem(15px);
  color: #363636;

  @media (max-width: 992px) {
    font-size: util.rem(14px);
    line-height: 2;
  }
}

.space {
  height: util.rem(32px);

  @media (max-width: 992px) {
    height: util.rem(30px);
  }
}