@use "../../../../../../style/util";
@use "../../../../../../style/colors";

.TabContentWrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "TabContentTitle TabContentImgWrap"
    "TabContentDesc TabContentImgWrap"
    "TabBtn TabContentImgWrap";
  
  > .TabContentTitle{
      grid-area: TabContentTitle; 
      font-size: util.rem(40px); 
      font-weight: 600; 
      padding-bottom: util.rem(40px); 
      color: colors.$black_c01};
  > .TabContentDesc{
      grid-area: TabContentDesc;
      color: #535353;
      font-size: util.rem(18px);
      line-height: 2;
      margin-bottom: util.rem(3px)};
  > .TabBtn{
      grid-area: TabBtn;
      background-color: #3568DB;
      color: #fff;
      font-size: util.rem(17px);
      font-weight: 600;
      padding: util.rem(16px) util.rem(30px);
      border-radius: 15px;
      border: 0 none
    };
  > .TabContentImgWrap{grid-area: TabContentImgWrap; width: util.rem(265px)};

  > .TabContentImgWrap img {max-width: 100%;}

  max-width: util.rem(1093px);
  padding: util.rem(114px) util.rem(85px);
  background-color: colors.$white_c01;
  border-radius: 15px;
}

@media screen and (max-width:util.rem(991px)) {

}